body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: skyblue;

  
}
.weather{
  background: url('/public/images/wet3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.weather .bottom{
  
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1 rem;
  border-radius: 15px;
  background-color:rgba(0,0,0,0.5);
}

.weather.search{
  text-align: center;
  padding: 1rem;

}
.weather input{
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
}
::placeholder{
  color: black;
}
.weather .wind li{
  align-items: center;
  display: inline;
}
.weather .temp{
  border: 1px solid black;
  border-radius: 10px ;
  width: 200px;
}
.temp li{
  display: block;
  flex-direction: column-reverse;
}
.app .search{
  text-align: center;
  padding: 1 rem;

}
.app input{
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 20px;
  border: 1px solid black;
  margin: 3rem;
}
.app .cweather{
  display: flex;
  justify-content: space-evenly;
  font-size: large;
  font-weight: bolder;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
